.lobby_cont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.intro_text{
    width:80%;
    color:black;
    background-color: var(--maincolor);
    padding:2.5%;
}
#NewGamebtn{
    width:300px;
    height: 150px;
    padding:10px;
    font-size:150%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
    border: none;
 
    cursor: pointer;
    outline: none;
}
